<!DOCTYPE html>
<html lang="en" ng-app="clicker" ng-controller="getController">
<head>
    <meta charset="UTF-8">
    <title>Clicker</title>
    <link rel="icon" href="/resources/icon/icon.png">
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/style.css" rel="stylesheet">
    <script src="/resources/js/angular.min.js"></script>
    <script src="/resources/js/clicker.js"></script>
</head>

<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column" ng-init="getCurrentUser()">
    <header class="masthead mb-auto" ng-init="getUsername()">
        <div class="inner">
            <h3 class="masthead-brand">Clicker</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="https://clicker1.herokuapp.com/home">Home</a>
                <a class="nav-link" href="https://clicker1.herokuapp.com/highscore">Highscores</a>
                <a class="nav-link" ng-if="username=='anonymousUser'"
                   href="https://clicker1.herokuapp.com/login">Login</a>
                <a class="nav-link" ng-if="username=='anonymousUser'"
                   href="https://clicker1.herokuapp.com/registration">Registration</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover" ng-init="getChampions()">
        <h1 class="cover-heading">Champions:</h1>
        <table class="table borderless bg-color3">
            <thead>
            <tr>
                <th>Nickname</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="champion in champions | orderBy: '-counter' | limitTo:5">
                <td>{{champion.name}}</td>
                <td>{{champion.counter}}</td>
            </tr>
            </tbody>
        </table>
    </main>

    <footer class="mastfoot mt-auto"></footer>
</div>

</body>
</html>