<!DOCTYPE html>
<html lang="en" ng-app="clicker" ng-controller="getController">
<head>
    <meta charset="UTF-8">
    <title>Clicker</title>
    <link rel="icon" href="/resources/icon/icon.png">
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/style.css" rel="stylesheet">
    <script src="/resources/js/angular.min.js"></script>
    <script src="/resources/js/clicker.js"></script>
</head>

<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Clicker</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="https://clicker1.herokuapp.com/home">Home</a>
                <a class="nav-link" ng-if="username=='anonymousUser'"
                   href="https://clicker1.herokuapp.com/login">Login</a>
                <a class="nav-link" ng-if="username=='anonymousUser'"
                   href="https://clicker1.herokuapp.com/registration">Registration</a>
                <a class="nav-link" ng-if="username!='anonymousUser'"
                   href="https://clicker1.herokuapp.com/highscore">Highscores</a>
            </nav>
        </div>
    </header>


    <main role="main" class="inner cover">
        <h1 class="cover-heading">Clicker</h1>
        <br>
        <form class="form-signin text-center" method="post" action="/login">
            <input type="text" name="username" class="form-control" placeholder="nickname">
            <input type="password" name="password" class="form-control" placeholder="password">
            <br>
            <button class="btn btn-primary btn-block" type="submit">Login</button>
        </form>
        <br><br><br><br><br>
    </main>


    <footer class="mastfoot mt-auto"></footer>
</div>

</body>
</html>